DATABASE_URL="postgresql://<user>:<password>@<server-ip>/<databasename>"

AUTH_SECRET="your auth secret" # Added by `npx auth`. Read more: https://cli.authjs.dev

NEXT_PUBLIC_BACKEND_API_URL="http://<server ip>:<port>/<api>"
NEXT_PUBLIC_BACKEND_API_VERSION="v1"
