[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "<0.114.0,>=0.113.0"}
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
pydantic-settings = "*"
sqlalchemy = "*"
python-jose = "*"
psycopg2-binary = "*"
passlib = {extras = ["bcrypt"], version = ">=1.7.4"}
bcrypt = "==4.0.1"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.12.2"
